# Answers to Assignment on Data Structures

# 1

In [4]:
x = 16 - 2 * 5 // 3 + 1
x

14

Operation precedence happened. According to PEMDAS, multiplication and division are on the same level and both precede addition and subtraction which are on the same level. 
First, from left to right, multiplication of 2 * 5 = 10, followed by integer division of 10 // 3 = 3, then subtraction of 16 - 3 = 13 and finally addition of 13 + 1 = 14.

In [5]:
y = 2 ** 3 * 3
y

24

Since both operations ** and * are on the same level, no precedence occurred thus evaluation starts from left to right which gave an output of 24

# 2

In [6]:
6 * 1 - 2

4

In [7]:
6 * (1 - 2)

-6

# 3

In [16]:
area = œÄ ¬∑ r2
r = 7
œÄ = 3.14

In [12]:
area = 3.14 * 7**2
area

153.86

In [13]:
_area = 153.86

In [17]:
z = "Calculating the area of the circle using the above formula and variable {}, the total area is {}. Note that {} is a constant.".format(r, _area, œÄ)
z

'Calculating the area of the circle using the above formula and variable 7, the total area is 153.86. Note that 3.14 is a constant.'

# 4

In [21]:
x = 0, 1, 2, 3, 4, 5

In [24]:
 3 in x

True

# 5

In [38]:
x = 10
y = 50

In [41]:
z = x>5 and y>40
z

True

In [43]:
z1 = x==10 or y<50 
z1

True

In [44]:
z2 = not(x>5 and y>40)
z2

False

# 6

In [45]:
zen = [12, 0.1, 5, 2.2, 18, 1.5]

In [46]:
print(sum(zen))

38.8

# 7

In [47]:
list1 = [3, 5, 1, 3, 9, 5, 7]

In [50]:
list1.sort()
list1

[1, 3, 3, 5, 5, 7, 9]

# 8

In [55]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]

In [58]:
list3 = list2.count(2)
print(list3)

5

# 9

In [69]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
print(list3[3])

(23, 'Faith', [10, ['Chinelo', 'Sandra'], 22])

In [70]:
print(list3[3][1])

Faith

In [79]:
print(list3[3][2])

[10, ['Chinelo', 'Sandra'], 22]

In [82]:
list4 = [10, ['Chinelo', 'Sandra'], 22]
print(list4[1][0])

Chinelo

In [87]:
print(list3[4:6])

[100, 85.5]

In [90]:
print(list3[8][1])

90

In [93]:
a = 100
b = 90
c = 85.5

In [95]:
note = "Chinelo couldn't score {}%, she got {}%. However, Faith is a close second with {}%.".format(a,b,c)
print(note)

Chinelo couldn't score 100%, she got 90%. However, Faith is a close second with 85.5%.

# 10

In [96]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

In [102]:
list4[1] = "Chioma"
list4

['Chima', 'Chioma', 'Rose', 'Hassan', 'Bisi']

# 11

In [103]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

In [104]:
list4_= list4.index("Rose")
print(list4_)

2

# 13

In [114]:
sets = {3, 1, 10, 4, 5, 6}
print(sets)

{1, 3, 4, 5, 6, 10}

In [115]:
sets.sort()
sets

AttributeError: 'set' object has no attribute 'sort'

Sets are immutable. It's arranged in ascending order when the variable containing sets is evaluated.

# 14

In [117]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [122]:
set3 = set2.union(set1)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

# 15

In [190]:
noun = ("Happy Peace Paris Ireland Beautiful Duvet Jason Ivan Zina Jesse Zoe Euliora Sophie Amazing")
print(noun.split())

['Happy', 'Peace', 'Paris', 'Ireland', 'Beautiful', 'Duvet', 'Jason', 'Ivan', 'Zina', 'Jesse', 'Zoe', 'Euliora', 'Sophie', 'Amazing']

In [197]:
noun =  ['Happy', 'Peace', 'Paris', 'Ireland', 'Beautiful', 'Duvet', 'Jason', 'Ivan', 'Zina', 'Jesse', 'Zoe', 'Euliora', 'Sophie', 'Amazing']
noun.remove('Happy')
print(noun)

['Peace', 'Paris', 'Ireland', 'Beautiful', 'Duvet', 'Jason', 'Ivan', 'Zina', 'Jesse', 'Zoe', 'Euliora', 'Sophie', 'Amazing']

In [199]:
del noun[1]
print(noun)

['Peace', 'Ireland', 'Beautiful', 'Duvet', 'Jason', 'Ivan', 'Zina', 'Jesse', 'Zoe', 'Euliora', 'Sophie', 'Amazing']

In [200]:
noun.sort()
print(noun)

['Amazing', 'Beautiful', 'Duvet', 'Euliora', 'Ireland', 'Ivan', 'Jason', 'Jesse', 'Peace', 'Sophie', 'Zina', 'Zoe']

In [206]:
noun.append('Germany')
print(noun)

['Amazing', 'Beautiful', 'Duvet', 'Euliora', 'Ireland', 'Ivan', 'Jason', 'Jesse', 'Peace', 'Sophie', 'Zina', 'Zoe', 'Spain', 'Cape verde', 'Germany']

In [207]:
noun.insert(-1,'Spain')
print(noun)

['Amazing', 'Beautiful', 'Duvet', 'Euliora', 'Ireland', 'Ivan', 'Jason', 'Jesse', 'Peace', 'Sophie', 'Zina', 'Zoe', 'Spain', 'Cape verde', 'Spain', 'Germany']

In [208]:
print("".join(noun))

AmazingBeautifulDuvetEulioraIrelandIvanJasonJessePeaceSophieZinaZoeSpainCape verdeSpainGermany

In [209]:
Markdown and LaTeX:  ùõº2

SyntaxError: illegal target for annotation (<ipython-input-209-f5bef87ecab8>, line 1)

# 12

In [211]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.insert(0,"Chioma")
print(list4)

['Chioma', 'Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi']